// Colours
$white-chalk: rgba(#ffffff, 1);
$red-chalk: rgba(#e88388, 1);
$blue-chalk: rgba(#71bef2, 1);
$green-chalk: rgba(#a8cc8c, 1);
$yellow-chalk: rgba(#dbab79, 1);
$magenta-chalk: rgba(#d290e4, 1);
