// Fonts
$header-font: 'Fredericka the Great', cursive;
$body-font: 'Indie Flower', cursive;
$polaroid-font: 'Swanky and Moo Moo', cursive;

// Colours
$white-chalk: rgba(#ffffff, 1);
$red-chalk: rgba(#e88388, 1);
$blue-chalk: rgba(#71bef2, 1);
$green-chalk: rgba(#a8cc8c, 1);
$yellow-chalk: rgba(#dbab79, 1);
$magenta-chalk: rgba(#d290e4, 1);

// Breakpoints
$mobile-width: 480px;
$mobile-width-old-landscape: 700px;
$mobile-width-modern-landscape: 850px;
$tablet-width: 768px;
$small-computer-width: 1024px;
