@import '/src/assets/scss/variables';
@import '/src/assets/scss/mixins';

.contact_container {
  padding-top: 100px;
  margin: 0vh 12.5vw;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include td {
    padding-top: 0;
    margin: 10vh 12.5vw;
  }

  // Section Titles
  .contact_title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: $header-font;
    color: $magenta-chalk;
    font-size: 3rem;
    margin: 2rem 0;

    @include md {
      font-size: 2rem;
    }

    @include md-new-landscape {
      font-size: 2rem;
    }

    span {
      position: relative;
    }
  }

  .contact_form_container {
    position: relative;
    width: 50vw;
    margin: 0 auto 2rem;

    @include td {
      width: 100%;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;

      div {
        display: flex;
        flex-direction: column;
        margin: 0 0 0.5rem;

        label {
          font-size: 1.5rem;
          color: $yellow-chalk;

          @include td {
            font-size: 1.25rem;
          }
        }

        input,
        textarea {
          font-family: $body-font;
          font-size: 1.5rem;
          color: $white-chalk;
          padding: 0.5rem;
          caret-color: $white-chalk;
          background: transparent;
          border-width: 0.25rem;
          border-style: solid;
          border-image: url(/assets/images/chalk-border.png) 7 repeat;
          -webkit-border-image: url(/assets/images/chalk-border.png) 7 repeat;
          -o-border-image: url(/assets/images/chalk-border.png) 7 repeat;
          &:focus {
            outline: none;
          }

          @include td {
            font-size: 1.25rem;
          }
        }

        textarea {
          resize: none;
        }

        span {
          visibility: hidden;
          color: $red-chalk;
        }

        .error-text {
          visibility: visible;
        }

        .input-error {
          border-image: url(/assets/images/chalk-red-border.png) 7 repeat;
          -webkit-border-image: url(/assets/images/chalk-red-border.png) 7
            repeat;
          -o-border-image: url(/assets/images/chalk-red-border.png) 7 repeat;
        }
      }

      .contact_form_name,
      .contact_form_email {
        width: 47.5%;

        @include sc {
          width: 100%;
        }
      }

      .contact_form_name {
        margin-right: 2.5%;

        @include sc {
          margin-right: 0%;
        }
      }
      .contact_form_email {
        margin-left: 2.5%;

        @include sc {
          margin-left: 0%;
        }
      }

      .contact_form_subject,
      .contact_form_message {
        width: 100%;
      }

      .contact_form_submit {
        margin: 0 auto 1rem;
      }

      .contact_form_button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: double 0.25rem rgba($color: #fff, $alpha: 0.8);
        cursor: pointer;
        overflow: hidden;

        span {
          font-family: $body-font;
          visibility: visible;
          color: $yellow-chalk;
          font-size: 1.5rem;
          margin: 0 1rem;

          @include td {
            font-size: 1.25rem;
          }
        }

        img {
          width: 3rem;
          height: 3rem;
          -webkit-animationtransform: rotate(20deg);
          -moz-transform: rotate(20deg);
          transform: rotate(20deg);
        }

        &:focus {
          outline: none;
        }

        &:hover {
          img {
            -webkit-animation: shake 3s infinite;
            -moz-animation: shake 3s infinite;
            animation: shake 3s infinite;
          }
        }
      }

      .contact_form_button[fly='fly'] {
        .contact_form_submit {
          -webkit-animation: slide 1.25s ease-in-out forwards;
          -moz-animation: slide 1.25s ease-in-out forwards;
          animation: slide 1.25s ease-in-out forwards;
        }
        img {
          -webkit-animation: plane-travel 1.25s ease-in-out forwards;
          -moz-animation: plane-travel 1.25s ease-in-out forwards;
          animation: plane-travel 1.25s ease-in-out forwards;
        }
      }
    }
  }

  .contact_form_sent,
  .contact_form_error {
    text-align: center;
    font-size: 1.5rem;
    color: $white-chalk;
    margin: 2rem 0;

    @include td {
      font-size: 1.25rem;
    }

    a {
      color: $blue-chalk;
      text-decoration: none;

      &:visited {
        color: $blue-chalk;
      }
    }
  }
}

// Keyframe Animations
@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(20deg);
    -moz-transform: translate(1px, 1px) rotate(20deg);
    transform: translate(1px, 1px) rotate(20deg);
  }
  10% {
    -webkit-transform: translate(0px, 0px) rotate(20deg);
    -moz-transform: translate(0px, 0px) rotate(20deg);
    transform: translate(0px, 0px) rotate(20deg);
  }
  20% {
    -webkit-transform: translate(-1px, -1px) rotate(19deg);
    -moz-transform: translate(-1px, -1px) rotate(19deg);
    transform: translate(-1px, -1px) rotate(19deg);
  }
  30% {
    -webkit-transform: translate(0px, -1px) rotate(19deg);
    -moz-transform: translate(0px, -1px) rotate(19deg);
    transform: translate(0px, -1px) rotate(19deg);
  }
  40% {
    -webkit-transform: translate(1px, 1px) rotate(19deg);
    -moz-transform: translate(1px, 1px) rotate(19deg);
    transform: translate(1px, 1px) rotate(19deg);
  }
  50% {
    -webkit-transform: translate(1px, 2px) rotate(18deg);
    -moz-transform: translate(1px, 2px) rotate(18deg);
    transform: translate(1px, 2px) rotate(18deg);
  }
  60% {
    -webkit-transform: translate(0px, 1px) rotate(18deg);
    -moz-transform: translate(0px, 1px) rotate(18deg);
    transform: translate(0px, 1px) rotate(18deg);
  }
  70% {
    -webkit-transform: translate(-1px, -1px) rotate(19deg);
    -moz-transform: translate(-1px, -1px) rotate(19deg);
    transform: translate(-1px, -1px) rotate(19deg);
  }
  80% {
    -webkit-transform: translate(0px, -2px) rotate(19deg);
    -moz-transform: translate(0px, -2px) rotate(19deg);
    transform: translate(0px, -2px) rotate(19deg);
  }
  90% {
    -webkit-transform: translate(1px, -1px) rotate(20deg);
    -moz-transform: translate(1px, -1px) rotate(20deg);
    transform: translate(1px, -1px) rotate(20deg);
  }
  100% {
    -webkit-transform: translate(2px, 0px) rotate(20deg);
    -moz-transform: translate(2px, 0px) rotate(20deg);
    transform: translate(2px, 0px) rotate(20deg);
  }
}

@keyframes plane-travel {
  0% {
    -webkit-transform: translateX(0) rotate(20deg);
    -moz-transform: translateX(0) rotate(20deg);
    transform: translateX(0) rotate(20deg);
  }
  100% {
    -webkit-transform: translateX(175px) rotate(20deg);
    -moz-transform: translateX(175px) rotate(20deg);
    transform: translateX(175px) rotate(20deg);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(175px);
    -moz-transform: translateX(175px);
    transform: translateX(175px);
  }
}
