@import '/src/assets/scss/variables';

.navbar_container {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    a {
      position: relative;
      margin: 1rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-decoration: none;

      &:first-child {
        color: $blue-chalk;
        background: url(/assets/images/chalk-border-blue.png);
        background-size: 100% 100%;
      }

      &:nth-child(2) {
        color: $green-chalk;
        background: url(/assets/images/chalk-border-green.png);
        background-size: 100% 100%;
      }

      &:nth-child(3) {
        color: $yellow-chalk;
        background: url(/assets/images/chalk-border-yellow.png);
        background-size: 100% 100%;
      }

      &:nth-child(4) {
        color: $magenta-chalk;
        background: url(/assets/images/chalk-border-magenta.png);
        background-size: 100% 100%;
      }

      &:hover {
        background: url(/assets/images/chalk-border.png);
        background-size: 100% 100%;
        color: $white-chalk;
      }

      span {
        padding: 1rem;
        display: block;
      }
    }
  }
}
