@import '/src/assets/scss/variables';
@import '/src/assets/scss/mixins';

.experience_container {
  padding-top: 100px;
  margin: 0vh 12.5vw;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @include td {
    padding-top: 0;
    margin: 10vh 12.5vw;
  }

  .experience_title {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    color: $green-chalk;
    font-size: 3rem;
    margin: 2rem 0;

    @include md {
      font-size: 2.5rem;
    }

    span {
      position: relative;
    }
  }
}
