@import '/src/assets/scss/variables';
@import '/src/assets/scss/mixins';

html {
  scroll-behavior: smooth;
}

body {
  background: url(/assets/images/chalkboard.png);
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: $body-font;
  letter-spacing: 0.025rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
