@import '/src/assets/scss/variables';
@import '/src/assets/scss/mixins';

.project_display_container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .project_display_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .project_display_title {
      color: $red-chalk;
      font-size: 2rem;
    }

    .project_display_link,
    .project_display_date,
    .project_display_role,
    .project_display_description,
    .project_display_stack {
      margin: 0.25rem 0;
      font-size: 1.25rem;
      span {
        color: $yellow-chalk;
      }

      a {
        color: $white-chalk;
        &:visited {
          color: $white-chalk;
        }
      }
    }

    .project_display_stack_icons {
      width: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      img {
        width: auto;
        height: 3rem;
        padding: 0.5rem;
        margin: 0.5rem;
        background: #fff;
        border-radius: 5%;
      }
    }
  }

  .project_display_screenshots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0.5rem 0;

    .project_display_polaroid {
      position: relative;
      width: 30%;
      height: auto;
      background: #fcfcfc;
      box-shadow: 0 0 10px #101010;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 1.5%;
      cursor: pointer;

      @include sc {
        width: 45%;
        margin: 2.5%;
      }

      @include md {
        width: 90%;
        margin: 5% 2.5%;
      }

      &:before {
        content: '';
        display: block;
        width: 50%;
        height: 14%;
        position: absolute;
        left: 25%;
        top: -7%;
        background: url(/assets/images/tape.png) no-repeat;
        background-size: cover;
      }

      img {
        display: block;
        width: 90%;
        height: auto;
        margin: 5% 5%;
        border-radius: 1%;
        cursor: pointer;
      }

      span {
        color: black;
        margin: auto;
        text-align: center;
      }
    }

    .project_display_polaroid_0 {
      transform: rotate(random(5) - 2.5 + deg);
    }

    .project_display_polaroid_1 {
      transform: rotate(random(5) - 2.5 + deg);
    }

    .project_display_polaroid_2 {
      transform: rotate(random(5) - 2.5 + deg);
    }
  }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 1500 !important;
}
